body{
    font-family:'Times New Roman', 'sans-serif';
    background-color: #000000;
    color: #ffffff
}

h1{
    font-size: 64px;
    text-align: center;
    padding: 10px;
}

h2{
    font-size: 32px;
    text-shadow: #808080 4px 4px 2px;
    
}

p{
    font-size:24px;
    padding-top: 15px;
}

img{
    margin: auto;
    display: block;
    width: 550px;
}

div{
    height: 150px;
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
}

#red{
    background-color:#ff0000;
    text-align: right;
    overflow: auto;
}

#blue{
    background-color:#0000ff;
    text-align: left;
    overflow: auto;
}

#yellow{
    background-color:#ffff00;
    text-align:right;
    overflow: auto;
}

#yellow h2{
    color: #000000;
    text-shadow: #c7e2c7 4px 4px 2px;
}

#yellow p{
    color: #000000;
}

#green{
    background-color: #008000;
    text-align: left;
    overflow: auto;
}

footer{
    text-align: center;
    padding-bottom: 10px;
    padding-right: 10px;
}
